*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;

}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*-------HEADER----------*/

.header-container {
    display: flex;
}



.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.logo-part {
    color: #2E2F42;
}


.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    gap: 40px;
}

.navigation-item {}

.navigation-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item-link:hover,
.navigation-item-link:focus {
    color: #404BBF;

}

.active-studio {
    position: relative;
    color: #404bbf;
}

.active-studio::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
}

.header-contacts {
    font-style: normal;
    display: flex;
    margin-left: auto;

}

.header-contacts-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}



.header-contacts-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-contacts-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}


.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404BBF;

}

/*-------HERO-SECTION----------*/

.hero-section {
    background-color: #2E2F42;
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;

}


.order-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.order-btn:hover,
.order-btn:focus {
    background-color: #404BBF;
}

/*-------Opportunitie-SECTION----------*/
.opportunities {
    padding: 120px 0;
}

.opportunities-list {
    display: flex;
    gap: 24px;
}


.opportunities-item {
    width: calc((100% - 3 * 24px)/4);

}

.icons-section-b {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;

}

.antena-box,
.clock-box,
.diagram-box,
.astronaut-box {}


.opportunities-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;

}

.opportunities-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/*-------our-team----------*/
.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-team-list {
    display: flex;
    gap: 24px;

}

.our-team-item {
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px)/4);
    height: 100%;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


}


.our-team-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.wraper {
    padding-top: 32px;
    padding-bottom: 32px;

}

.description-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.description-item a {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 12px;
    background-color: #4D5AE5;

}

.team-social-icon:hover,
.team-social-icon:focus {
    background-color: #404bbf;
}

.team-social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.social-svg {
    fill: #F4F4FD;
}


.our-team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}

.our-team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

/*-------Portfolio----------*/
.portfolio {}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.protfolio-list {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 24px;
    row-gap: 48px;

}

.portfolio-item {
    width: calc((100% - 24px * 2) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .text-overlay {
    transform: translateY(0);

}

.over-wrap {
    position: relative;
    overflow: hidden;

}

.text-overlay {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    height: 100%;
    padding: 40px 32px;
    display: flex;
    align-items: center;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.portfolio-picture {}

.cart-boarder {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;

}

.portfolio-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*-------Footer----------*/
.footer-first {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.footer-block {
    margin-right: 120px;
}

.footer {
    background-color: #2E2F42;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-part {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: start;
    max-width: 264px;

}


.social-items-footer {
    margin-right: 80px;
}

.social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-items-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.social-item-icon {
    width: 40px;
    height: 40px;

}

.social-item-icon a {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;

}

.footer-social:hover,
.footer-social:focus {
    background-color: #31d0aa;
}

.social-icon-footer {
    fill: #f4f4fd;
}


.footer-sub-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.form-footer {}

.footer-email {
    display: flex;
    gap: 24px;
}

.input-email {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    background-color: transparent;
    padding-left: 16px;
}

.input-email::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.footer-sub-icon {}

.subscribe-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404BBF;
}

.footer-sub-icon {
    fill: #FFFFFF;
    margin-left: 16px;
}

.backdrop {
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    padding: 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
    border: none;
    background-color: #404bbf;
}

.icon-close {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .icon-close,
.button-close:focus .icon-close {
    fill: #FFFFFF;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal {
    padding: 72px 24px 24px 24px;
}

/* .modal-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
   
} */
.modal-field {
    display: block;
    margin-bottom: 8px;
}

.input-label {
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;



}

.modal-field span {
    /* display: block;
    margin-bottom: 4px; */
}

.modal-input {
    border: 1px solid #2E2F42;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding: 8px 38px;
    outline: transparent;
    line-height: 2px;
    font-size: 12px;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+.modal-icon-form {
    fill: #4D5AE5;
}

.modal-icon-form {
    position: absolute;
    fill: #2E2F42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.textarea {
    display: block;
    margin-bottom: 16px;
}

.text {
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    padding: 8px 16px;
    display: block;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-icons-wrap {
    position: relative;
}




.checkbox-request {
    display: block;
    margin-bottom: 24px;
}


.wrap-icon-request {
    position: relative;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    fill: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.private-policy {

    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-btn {
    font-family: "Roboto" sans-serif;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
    display: block;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF;
}

.checkbox-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-right: 8px;
}

.checkbox-btn-request:checked+.checkbox-label .wrap-icon-request {
    border: none;
    background-color: #404bbf;
    fill: #F4F4FD;
}